.home-section-label {
  font-size: 1.5rem;
  margin: 1.2rem 0 0.75rem;
  font-weight: 600;
}
.home-section-elems {
  display: flex;
  width: 99%;
  height: 60vh;
  overflow: hidden;
  align-items: center;
}
.home-section-elem {
  margin: 0 1.25rem;
  width: 20%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.home-section-elem:nth-child(1),
.home-section-elem:nth-child(6),
.home-section-elem:nth-child(11) {
  margin-left: 0;
}
.home-section-elem:nth-child(5),
.home-section-elem:nth-child(10),
.home-section-elem:nth-child(15) {
  margin-right: 0;
}
.home-section-elem:not(.list-1) {
  display: none;
}
.home-section-elem img {
  width: 100%;
  height: 88%;
  margin-bottom: 0.25rem;
  border-radius: 8px 8px 0 0;
}
.elem-name {
  width: 100%;
}

.on-image-data {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 88%;
  padding: 1rem 0.5rem 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.data-top {
  display: flex;
  justify-content: space-between;
}
.price,
.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem 0.85rem;
  background-color: #8f2d56;
  color: #fff;
  fill: #fff;
  border-radius: 16px;
}
.rating .star-icon {
  margin-right: 0.25rem;
}

.elem-name {
  color: #fff;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100%);
  background-color: #8f2d56;
  padding: 0.5rem;
  border-radius: 8px;
}
.adding {
  -moz-user-select: none;
  -webkit-user-select: none;
}
.adding svg {
  fill: #8f2d56;
  cursor: pointer;
}
.amount {
  margin: 0 0.5rem;
  font-size: 1.35rem;
  font-weight: 600;
  color: #8f2d56;
  cursor: default;
}
.add-to-bag {
  font-weight: 600;
  color: #8f2d56;
  font-size: 1.2rem;
  cursor: pointer;
}

.section-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 6rem;
  margin-left: 0.75rem;
}
.section-nav-elem {
  transform: scale(1.75);
  fill: rgb(91, 91, 91);
  cursor: pointer;
}
.section-nav-elem.no-1 {
  fill: #8f2d56;
  cursor: default;
}
