.app-nav-bar {
  width: 100%;
  height: 4.5rem;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-label {
  font-size: 1.35rem;
  font-weight: 600;
}

.right-nav {
  font-size: 1.15rem;
  width: 50%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-form {
  position: relative;
  width: 45%;
  height: 100%;
}
.search-inp {
  width: 100%;
  height: 100%;
  padding-left: 0.5rem;
  padding-right: 2.25rem;
  position: absolute;
  right: 0;
  top: 0;
  outline: transparent;
  border-radius: 16px;
  font-size: 1rem;
  color: #8f2d56;
  border: 1px solid#8F2D56;
}
.search-inp::placeholder {
  color: #8f2d56;
}
.search-sub {
  position: absolute;
  right: 1rem;
  top: 38%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.search-sub svg {
  fill: #8f2d56;
  transform: scale(1.5);
}
.bag-icon {
  fill: #8f2d56;
  cursor: pointer;
  transform: scale(2);
}

.login-link {
  background-color: #8f2d56;
  color: #fff;
  padding: 0.75rem 2rem;
  border-radius: 16px;
  border: none;
}
