* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #000;
}
.navContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  box-shadow: 0 0 5px 2px lightgray;
}
.appLabel,
.contact,
.login,
.logout,
.cart {
  flex: 1;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4.5vh;
  text-align: center;
}
.cart,
.contact {
  flex: 0.4;
}

.login a,
.logout a {
  display: flex;
  width: 80%;
  height: 100%;
}
.login button,
.logout button {
  height: 100%;
  width: 100%;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 2.5vh;
}
.logout button i {
  color: #fff;
}
.login button {
  color: #fff;
  background-color: green;
}
.logout button {
  background-color: red;
  color: #fff;
}

.contact {
  position: relative;
}
.dropdown-contact {
  display: none;
  position: absolute;
  left: -50%;
  top: 5.5vh;
  width: 200%;
  font-size: 18px;
  background-color: #fff;
  z-index: 5;
  padding: 12px 5px;
  box-shadow: 0 0 16px 8px rgba(209, 209, 209, 0.493);
}

.dropdown-contact p {
  margin: 2% 0;
}

.fa-map-marker-alt {
  color: red;
}
.fa-at {
  color: blue;
}
.fa-phone {
  color: green;
}

.contact:hover .dropdown-contact {
  display: block;
}

.search {
  flex: 4;
  height: 10vh;
}
.search form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.search input {
  width: 80%;
  height: 7vh;
  border-radius: 5px;
  outline: none;
  font-size: 3vh;
  padding: 0.1vh 0.5vw;
  border: solid 1px #000;
}
.search button {
  height: 7vh;
  border-radius: 5px;
  outline: none;
  width: 18%;
  border: 1px solid red;
  font-size: 3.5vh;
  color: red;
  background-color: transparent;
  cursor: pointer;
}

.orgContainer {
  width: 80%;
  margin: 2% auto;
  display: flex;
}
.branches,
.hours {
  flex: 1;
  cursor: default;
}
.branches h2 {
  font-size: 30px;
  padding: 5px 15px;
}
.branches p {
  padding: 2px 25px;
  color: rgb(100, 100, 100);
}
.hours p:first-of-type {
  font-size: 20px;
  padding: 8px 20px;
  display: block;
}
.Closed {
  color: red;
}
.Open {
  color: green;
}

.hours {
  display: flex;
  flex-direction: column;
}

.hours p {
  display: flex;
  padding: 3px 15px;
}
.hours p span {
  flex: 1;
}

.contactCont {
  width: 80%;
  margin: 2% auto;
  display: flex;
  flex-direction: column;
}
.def {
  text-align: center;
  display: flex;
  font-size: 35px;
}
.def p {
  flex: 1;
}
.form {
  width: 80%;
  margin: auto;
}
.form form {
  width: 85%;
  margin: 5% auto;
  display: flex;
  flex-direction: column;
}
.form form textarea {
  width: 90%;
  margin: 2% auto;
  padding: 8px;
  outline: none;
  height: 250px;
  resize: none;
}
.form form button {
  width: 50%;
  margin: auto;
  height: 35px;
  outline: none;
  cursor: pointer;
}

main.error {
  width: 75%;
  height: 200px;
  margin: 2% auto;
  padding: 50px 0;
  display: flex;
  justify-content: center;
}
.error h2 {
  display: inline-block;
  height: 40px;
}

.result {
  width: 80%;
  height: 88vh;
  margin: 1vh auto;
  padding: 0.3vh 0.3vw;
  box-shadow: 0 3px 5px lightgray;
}
.result .item {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border: 1px solid red;
  border-radius: 5px;
  font-size: 25px;
  padding: 0 10px;
}
.result > a {
  display: block;
  width: 85%;
  height: 12vh;
  margin: 0.7vh auto;
}
.result .item .image img {
  max-height: 90%;
  max-width: 90%;
}
.result .navigator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 7vh;
  margin: 0.3vh 0;
}
.navigator span {
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 70%;
  margin: 0 0.3vw;
  font-weight: bold;
}
.navigator .current {
  cursor: default;
  color: red;
  border: 1px solid red;
}

.result div:nth-child(1) {
  flex: 0.25;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}
.result .item div:nth-child(2) {
  flex: 1.5;
  overflow: hidden;
  font-weight: bold;
  text-overflow: ellipsis;
}
.result div:nth-child(3) {
  flex: 0.25;
  text-align: right;
  color: green;
  font-weight: bold;
}
.price i {
  color: green;
}
.error {
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.error h2 {
  font-size: 3.8vh;
  margin-bottom: 2vh;
}
.error a {
  width: 25%;
  height: 12%;
  margin-top: 2vh;
}
.error a button {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  font-size: 4vh;
  cursor: pointer;
  background-color: rgb(219, 27, 27);
  color: #fff;
  border: none;
}

.product-container {
  width: 80%;
  min-height: 350px;
  padding: 10px;
  margin: auto;
  display: flex;
  box-shadow: 0 0 5px 3px lightgray;
}
.main {
  flex: 3;
}
.side {
  flex: 1;
  max-height: 500px;
  padding: 5px 10px;
  border-left: 1px solid gray;
}
.main .route,
.route i {
  font-size: 15px;
  color: gray;
}

.main .image {
  height: 300px;
  border: 1px solid #000;
  width: 500px;
  margin: 1% 0 3% 0;
  display: flex;
  justify-content: center;
}
.main .image img {
  max-height: 100%;
  max-width: 100%;
}
.main > p {
  font-size: 40px;
  font-weight: bold;
  padding: 0 10px;
}
.main .tags {
  width: 95%;
  margin: auto;
}
.tags .tag {
  width: 15%;
  height: 25px;
  margin: 0.5%;
  background-color: rgb(176, 176, 241);
  text-align: right;
  padding: 2px 5px;
  cursor: default;
  display: inline-block;
}
.fa-circle {
  float: left;
  padding: 4.5px 0;
  color: #fff;
  font-size: 12px;
}
.main .desc {
  width: 95%;
  min-height: 200px;
  padding: 2%;
  margin: 5% 0 2%;
  font-size: 25px;
  border-top: 1px solid gray;
}
.side .price {
  font-size: 35px;
}
.side .insert {
  margin: 5% auto;
}
.side form {
  display: flex;
  flex-direction: column;
}
.side input {
  height: 35px;
  font-size: 20px;
  padding: 5px;
  width: 20%;
  outline: none;
  border-radius: 5px;
  border: 1px solid red;
}
.side #counter {
  color: gray;
  font-size: 20px;
  cursor: default;
}

.side button {
  width: 40%;
  height: 50px;
  font-size: 30px;
  outline: none;
  border: 1px solid red;
  background-color: transparent;
  color: red;
  cursor: pointer;
}

.fa-star {
  color: gold;
}
.id {
  color: gray;
  margin: 2% 0;
}
p.star {
  font-size: 20px;
  display: inline-block;
  cursor: default;
  margin: 10% 1%;
}

.recommendations {
  width: 85%;
  min-height: 85vh;
  max-height: 210vh;
  margin: 2.5vh auto;
}
.recommendations .recom-prods {
  display: flex;
  flex-wrap: wrap;
}
.recom-prods a {
  display: block;
  width: 16vw;
  height: 50vh;
  margin: 0.25vh 0.3vw;
}
.recom-prods .item {
  box-shadow: 0 2px 3px lightgray;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.recom-prods .item .image {
  flex: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.recom-prods .item .name {
  flex: 1.5;
  margin: 0 0.35vw;
  font-size: 3.5vh;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  overflow: hidden;
}
.recom-prods .item .price {
  flex: 0.7;
  margin: 0 0.35vw;
  font-size: 2.8vh;
  color: green;
  font-weight: bold;
}
.recom-prods .image img {
  max-width: 15vw;
  max-height: 90%;
}
.recommendations .error h1,
.recommendations .error p {
  margin: 3% auto auto;
  text-align: center;
}
.recommendations .error > p {
  font-size: 20px;
}
.give-rate input[type="radio"] {
  display: none;
}
.give-rate label i {
  color: lightgray;
  cursor: pointer;
}
.give-rate .selected i {
  color: gold;
}

.opinions h1 {
  margin: 2% 0.5%;
}
.give-rate {
  margin: 1% 0;
  height: 75px;
}
.give-rate form {
  display: flex;
}
.give-rate i {
  font-size: 20px;
}
.give-rate .rate-obj {
  margin: 3% 0.5%;
}
.give-rate textarea {
  height: 70px;
  resize: none;
  width: 60%;
  margin: 2.5px 1%;
  border-radius: 5px;
  outline: none;
  font-size: 18px;
  padding: 5px;
}
.give-rate button {
  width: 20%;
  height: 70px;
  border-radius: 5px;
  background-color: red;
  border: none;
  color: #fff;
  font-size: 25px;
  outline: none;
  cursor: pointer;
  margin: 2.5px 2px;
}
.opinions-display {
  border-top: 1px solid gray;
  padding: 10px 5px;
}
.opinions-display .opinion {
  margin: 2%;
  width: 95%;
  border-left: 2px solid gray;
  padding: 5px 8px;
  height: auto;
  min-height: 75px;
  max-height: 125px;
  overflow: hidden;
}
.opinion .op-desc {
  font-size: 25px;
}
.opinion .user {
  font-size: 14px;
}

.cart-org {
  width: 85%;
  height: 88vh;
  box-shadow: 0 0 3px 2px lightgray;
  margin: 1vh auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-org > h2 {
  font-size: 5vh;
}
.cart-org .cart-cont {
  display: flex;
  width: 98%;
  height: 95%;
  margin: auto;
}
.cart-prods {
  flex: 3.5;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 0.5vw;
}
.cart-prods .top-cart-prods {
  width: 100%;
  min-height: 5vh;
  border-bottom: 1px solid #000;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 2vh;
}
.top-cart-prods p:nth-child(1) {
  flex: 5;
}
.top-cart-prods p:nth-child(2) {
  flex: 0.5;
}
.top-cart-prods p:nth-child(3) {
  flex: 0.2;
}
.prods-org {
  overflow-y: auto;
}
.prods-org::-webkit-scrollbar {
  width: 0.15vw;
}
.prods-org::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.prods-org::-webkit-scrollbar-thumb {
  background: rgb(110, 107, 107);
}
.prods-org::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.cart-prods .prod {
  display: flex;
  width: 100%;
  min-height: 8vh;
  align-items: center;
}
.cart-prods .prod:nth-child(odd) {
  background-color: rgb(210, 238, 246);
}
.prod a:first-of-type {
  flex: 5;
  font-size: 2.3vh;
  overflow: hidden;
  padding-left: 0.3vw;
  text-overflow: ellipsis;
}
.prod input {
  flex: 0.5;
  width: 100%;
  height: 5vh;
  font-size: 3.5vh;
  outline: none;
  cursor: default;
  background-color: lightgray;
  border: none;
  border-radius: 8px;
  text-align: center;
}
.prod a:last-of-type {
  font-size: 3.5vh;
  margin: 0 1.25vw;
}
.fa-times-circle {
  color: red;
}
.cart-side {
  flex: 0.7;
  height: 100%;
  padding: 0.5vh 1vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.cart-side a {
  width: 95%;
}
.cart-side .clear-cart {
  height: 7vh;
  flex: 1;
  width: 100%;
  border: 1px solid red;
  border-radius: 8px;
  background-color: transparent;
  color: red;
  font-size: 3vh;
  font-weight: bold;
  cursor: pointer;
}
.cart-side .pay-proceed {
  height: 7vh;
  flex: 1;
  width: 100%;
  border: 1px solid red;
  border-radius: 8px;
  background-color: transparent;
  color: red;
  font-size: 2.1vh;
  font-weight: bold;
  cursor: pointer;
}
.cart-side p {
  margin: 5% 1%;
  font-size: 30px;
  color: gray;
  font-weight: bold;
}
.cart-side span {
  color: green;
}
.pay-proceed i,
.fa-dollar-sign {
  color: green;
}
