* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #000;
}

.navContainer {
  display: flex;
  width: 80%;
  height: 75px;
  margin: 2% auto;
  box-shadow: 0 0 5px 2px lightgray;
}
.appLabel,
.contact,
.login,
.logout,
.cart {
  flex: 1;
  font-size: 30px;
  text-align: center;
  margin: 15px 0;
  height: 45px;
}
.cart,
.contact {
  flex: 0.4;
}

.login button,
.logout button {
  height: 40px;
  width: 80%;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  outline: none;
}
.login button i,
.logout button i {
  color: #fff;
}
.login button {
  color: #fff;
  background-color: green;
}
.logout button {
  background-color: red;
  color: #fff;
}

.contact {
  position: relative;
}
.dropdown-contact {
  display: none;
  position: absolute;
  left: -50%;
  top: 105%;
  width: 200%;
  font-size: 18px;
  background-color: #fff;
  z-index: 5;
  padding: 12px 5px;
  box-shadow: 0 0 16px 8px rgba(209, 209, 209, 0.493);
}

.dropdown-contact p {
  margin: 2% 0;
}

.fa-map-marker-alt {
  color: red;
}
.fa-at {
  color: blue;
}
.fa-phone {
  color: green;
}

.contact:hover .dropdown-contact {
  display: block;
}

.search {
  padding: 5px 2px;
  flex: 4;
  height: 55px;
  margin: 10px 0;
}
.search input {
  width: 80%;
  height: 45px;
  border-radius: 5px;
  outline: none;
  font-size: 20px;
  padding: 5px;
  border: solid 1px #000;
}
.search button {
  height: 45px;
  border-radius: 5px;
  outline: none;
  width: 18%;
  border: 1px solid red;
  font-size: 20px;
  color: red;
  background-color: transparent;
  cursor: pointer;
}

.orgContainer {
  width: 80%;
  margin: 2% auto;
  display: flex;
}
.branches,
.hours {
  flex: 1;
  cursor: default;
}
.branches h2 {
  font-size: 30px;
  padding: 5px 15px;
}
.branches p {
  padding: 2px 25px;
  color: rgb(100, 100, 100);
}
.hours p:first-of-type {
  font-size: 20px;
  padding: 8px 20px;
  display: block;
}
.Closed {
  color: red;
}
.Open {
  color: green;
}

.hours {
  display: flex;
  flex-direction: column;
}

.hours p {
  display: flex;
  padding: 3px 15px;
}
.hours p span {
  flex: 1;
}

.contactCont {
  width: 80%;
  margin: 2% auto;
  display: flex;
  flex-direction: column;
}
.def {
  text-align: center;
  display: flex;
  font-size: 35px;
}
.def p {
  flex: 1;
}
.form {
  width: 80%;
  margin: auto;
}
.form form {
  width: 85%;
  margin: 5% auto;
  display: flex;
  flex-direction: column;
}
.form form textarea {
  width: 90%;
  margin: 2% auto;
  padding: 8px;
  outline: none;
  height: 250px;
  resize: none;
}
.form form button {
  width: 50%;
  margin: auto;
  height: 35px;
  outline: none;
  cursor: pointer;
}

main.error {
  width: 75%;
  height: 200px;
  margin: 2% auto;
  padding: 50px 0;
  display: flex;
  justify-content: center;
}
.error h2 {
  display: inline-block;
  height: 40px;
}
