* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #000;
}
.navContainer {
  display: flex;
  width: 80%;
  height: 75px;
  margin: 2% auto;
  box-shadow: 0 0 5px 2px lightgray;
}
.appLabel,
.contact,
.login,
.logout,
.cart {
  flex: 1;
  font-size: 30px;
  text-align: center;
  margin: 15px 0;
  height: 45px;
}
.cart,
.contact {
  flex: 0.4;
}

.login button,
.logout button {
  height: 40px;
  width: 80%;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  outline: none;
}
.login button i,
.logout button i {
  color: #fff;
}
.login button {
  color: #fff;
  background-color: green;
}
.logout button {
  background-color: red;
  color: #fff;
}

.contact {
  position: relative;
}
.dropdown-contact {
  display: none;
  position: absolute;
  left: -50%;
  top: 105%;
  width: 200%;
  font-size: 18px;
  background-color: #fff;
  z-index: 5;
  padding: 12px 5px;
  box-shadow: 0 0 16px 8px rgba(209, 209, 209, 0.493);
}

.dropdown-contact p {
  margin: 2% 0;
}

.fa-map-marker-alt {
  color: red;
}
.fa-at {
  color: blue;
}
.fa-phone {
  color: green;
}

.contact:hover .dropdown-contact {
  display: block;
}

.search {
  padding: 5px 2px;
  flex: 4;
  height: 55px;
  margin: 10px 0;
}
.search input {
  width: 80%;
  height: 45px;
  border-radius: 5px;
  outline: none;
  font-size: 20px;
  padding: 5px;
  border: solid 1px #000;
}
.search button {
  height: 45px;
  border-radius: 5px;
  outline: none;
  width: 18%;
  border: 1px solid red;
  font-size: 20px;
  color: red;
  background-color: transparent;
  cursor: pointer;
}

.orgContainer {
  width: 80%;
  margin: 2% auto;
  display: flex;
}
.branches,
.hours {
  flex: 1;
  cursor: default;
}
.branches h2 {
  font-size: 30px;
  padding: 5px 15px;
}
.branches p {
  padding: 2px 25px;
  color: rgb(100, 100, 100);
}
.hours p:first-of-type {
  font-size: 20px;
  padding: 8px 20px;
  display: block;
}
.Closed {
  color: red;
}
.Open {
  color: green;
}

.hours {
  display: flex;
  flex-direction: column;
}

.hours p {
  display: flex;
  padding: 3px 15px;
}
.hours p span {
  flex: 1;
}

.contactCont {
  width: 80%;
  margin: 2% auto;
  display: flex;
  flex-direction: column;
}
.def {
  text-align: center;
  display: flex;
  font-size: 35px;
}
.def p {
  flex: 1;
}
.form {
  width: 80%;
  margin: auto;
}
.form form {
  width: 85%;
  margin: 5% auto;
  display: flex;
  flex-direction: column;
}
.form form textarea {
  width: 90%;
  margin: 2% auto;
  padding: 8px;
  outline: none;
  height: 250px;
  resize: none;
}
.form form button {
  width: 50%;
  margin: auto;
  height: 35px;
  outline: none;
  cursor: pointer;
}

main.error {
  width: 75%;
  height: 200px;
  margin: 2% auto;
  padding: 50px 0;
  display: flex;
  justify-content: center;
}
.error h2 {
  display: inline-block;
  height: 40px;
}

.result {
  width: 80%;
  margin: auto;
}
.result .item {
  height: 100px;
  display: flex;
  color: #fff;
  border: 1px solid red;
  border-radius: 5px;
  font-size: 25px;
  padding: 0 10px;
}
.result a {
  display: block;
  width: 80%;
  margin: 2% auto;
}
.result .item .image img {
  max-height: 80px;
  margin: 0 10px;
}

.result .item div {
  flex: 1;
  margin: 35px 1%;
}
.result div:first-of-type {
  flex: 0.4;
  margin: 12px 0;
}
.result div:last-of-type {
  flex: 0.4;
  text-align: right;
}
.price i {
  color: green;
}

.product-container {
  width: 80%;
  min-height: 350px;
  padding: 10px;
  margin: auto;
  display: flex;
  box-shadow: 0 0 5px 3px lightgray;
}
.main {
  flex: 3;
}
.side {
  flex: 1;
  max-height: 500px;
  padding: 5px 10px;
  border-left: 1px solid gray;
}
.main .route,
.route i {
  font-size: 15px;
  color: gray;
}

.main .image {
  height: 300px;
  border: 1px solid #000;
  width: 500px;
  margin: 1% 0 3% 0;
  display: flex;
  justify-content: center;
}
.main .image img {
  max-height: 100%;
  max-width: 100%;
}
.main > p {
  font-size: 40px;
  font-weight: bold;
  padding: 0 10px;
}
.main .tags {
  width: 95%;
  margin: auto;
}
.tags .tag {
  width: 15%;
  height: 25px;
  margin: 0.5%;
  background-color: rgb(176, 176, 241);
  text-align: right;
  padding: 2px 5px;
  cursor: default;
  display: inline-block;
}
.fa-circle {
  float: left;
  padding: 4.5px 0;
  color: #fff;
  font-size: 12px;
}
.main .desc {
  width: 95%;
  min-height: 200px;
  padding: 2%;
  margin: 5% 0 2%;
  font-size: 25px;
  border-top: 1px solid gray;
}
.side .price {
  font-size: 35px;
}
.side .insert {
  margin: 5% auto;
}
.side form {
  display: flex;
  flex-direction: column;
}
.side input {
  height: 35px;
  font-size: 20px;
  padding: 5px;
  width: 20%;
  outline: none;
  border-radius: 5px;
  border: 1px solid red;
}
.side #counter {
  color: gray;
  font-size: 20px;
  cursor: default;
}

.side button {
  width: 40%;
  height: 50px;
  font-size: 30px;
  outline: none;
  border: 1px solid red;
  background-color: transparent;
  color: red;
  cursor: pointer;
}

.fa-star {
  color: gold;
}
.id {
  color: gray;
  margin: 2% 0;
}
p.star {
  font-size: 20px;
  display: inline-block;
  cursor: default;
  margin: 10% 1%;
}

.recommendations {
  width: 80%;
  margin: auto;
}
.recommendations .recom-prods {
  display: flex;
  flex-wrap: wrap;
  margin: 1%;
}
.recom-prods a {
  display: block;
  width: 22%;
  height: 300px;
  margin: 1.3%;
}
.recom-prods .item {
  box-shadow: 0 0 5px 3px lightgray;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 5px;
}
.recom-prods .item .image {
  flex: 5;
}
.recom-prods .item .name {
  flex: 2;
}
.recom-prods .item .price {
  flex: 0.7;
}
.recom-prods .image img {
  max-width: 80%;
  max-height: 80%;
  margin: 5% 15%;
}
.recom-prods .name {
  font-size: 23px;
  font-weight: bold;
  overflow: hidden;
}
.recom-prods .price {
  font-size: 18px;
  color: gray;
  font-weight: bold;
}
.recommendations .error h1,
.recommendations .error p {
  margin: 3% auto auto;
  text-align: center;
}
.recommendations .error > p {
  font-size: 20px;
}
.give-rate input[type="radio"] {
  display: none;
}
.give-rate label i {
  color: lightgray;
  cursor: pointer;
}
.give-rate .selected i {
  color: gold;
}

.opinions h1 {
  margin: 2% 0.5%;
}
.give-rate {
  margin: 1% 0;
  height: 75px;
}
.give-rate form {
  display: flex;
}
.give-rate i {
  font-size: 20px;
}
.give-rate .rate-obj {
  margin: 3% 0.5%;
}
.give-rate textarea {
  height: 70px;
  resize: none;
  width: 60%;
  margin: 2.5px 1%;
  border-radius: 5px;
  outline: none;
  font-size: 18px;
  padding: 5px;
}
.give-rate button {
  width: 20%;
  height: 70px;
  border-radius: 5px;
  background-color: red;
  border: none;
  color: #fff;
  font-size: 25px;
  outline: none;
  cursor: pointer;
  margin: 2.5px 2px;
}
.opinions-display {
  border-top: 1px solid gray;
  padding: 10px 5px;
}
.opinions-display .opinion {
  margin: 2%;
  width: 95%;
  border-left: 2px solid gray;
  padding: 5px 8px;
  height: auto;
  min-height: 75px;
  max-height: 125px;
  overflow: hidden;
}
.opinion .op-desc {
  font-size: 25px;
}
.opinion .user {
  font-size: 14px;
}

.cart-org {
  width: 80%;
  margin: auto;
}
.cart-org > h2 {
  text-align: center;
  font-size: 30px;
}
.cart-org .cart-cont {
  display: flex;
}
.cart-prods {
  flex: 2.5;
  display: flex;
  flex-direction: column;
  height: 550px;
  padding: 8px;
  overflow-y: auto;
}
.cart-prods .prod {
  display: flex;
  margin: 2% 0;
  border: 1px solid #000;
  min-height: 75px;
  max-height: 75px;
}
.prod h2 {
  flex: 5;
}
.prod input {
  flex: 0.5;
  height: 50px;
  max-width: 70px;
  font-size: 25px;
  margin: 12.5px 0.7%;
  outline: none;
  padding: 5px;
  cursor: default;
}
.prod a {
  display: block;
  width: 25px;
  height: 25px;
  margin: 20px 0.7%;
  font-size: 25px;
}
.fa-times-circle {
  color: red;
}
.cart-side {
  flex: 1;
  height: 550px;
  padding: 10px;
  border-left: 1px solid gray;
}
.cart-side button {
  height: 55px;
  width: 50%;
  border: 1px solid red;
  border-radius: 5px;
  background-color: transparent;
  color: red;
  font-size: 25px;
  cursor: pointer;
}
.cart-side p {
  margin: 5% 1%;
  font-size: 30px;
  color: gray;
}
.fa-dollar-sign {
  color: green;
}
