* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #000;
}

.appLabel {
  width: 80%;
  height: 55px;
  margin: 2% auto;
  text-align: center;
  font-size: 45px;
}
.formContainer {
  width: 75%;
  margin: 2% auto;
}
form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

input {
  width: 75%;
  border: 1px solid #b3b0b0;
  border-radius: 10px;
  height: 45px;
  font-size: 20px;
  margin: 2.5% auto;
  padding: 10px;
  outline: none;
}

button {
  width: 50%;
  border: 1px solid #b3b0b0;
  border-radius: 10px;
  height: 45px;
  font-size: 20px;
  margin: 1.5% auto;
  padding: 10px;
  outline: none;
  cursor: pointer;
}

p:first-of-type {
  font-size: 45px;
  text-align: center;
  cursor: default;
}

p:last-of-type {
  font-size: 20px;
  margin: 2% auto;
  text-align: center;
}
.formContainer a {
  display: block;
  margin: 2% auto;
  color: red;
}

.alert {
  width: 50%;
  margin: auto;
}

.resetContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 1% auto;
}
.resetContainer h3 {
  text-align: center;
  font-size: 35px;
}
