<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}{% endblock %}
        </title>
        {% block stylesheets %}
            <link href="{{asset('styles/alerts.css')}}" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
        {% endblock %}
        <style>
            .appLabel a,
            .dash button {
                font-family: "Indie Flower", cursive;
            }
        </style>
    </head>
    <body>
        {% block header %}
            {% block navbar %}{% endblock %}
            {% block flash %}
                {% for label,messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{label}}">
                            {{message}}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endblock %}
        {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="https://kit.fontawesome.com/75e13d0c4b.js"></script>
        {% endblock %}
    </body>
</html>
